<html>
<head>
	<title></title>

	<script
              src="https://code.jquery.com/jquery-3.1.1.min.js"
              integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
              crossorigin="anonymous">
    </script>
</head>
<body>

<script type="text/javascript">

$(function() {
    $('submit').click(function() {
        var input = $('#message').val();
        
        $.ajax({
            url: '/get/<string:query>',
            data: $('form').serialize(),
            type: 'GET',
            success: function(response) {
                console.log(response);
                

            },
            error: function(error) {
                console.log(error);

                
            }

        });
    });
});


</script>
<form class="bot" method="get" role="form">
<input type="text" name="#message">
<input type="submit" value="Submit">
<form>

</body>
</html>